:root {
  --el-color-primary: #3473e6 !important;
  background-color: #f6f7f8;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  vertical-align: middle;
}

.page {
  width: 1200px;
  margin: 0 auto;
}